<div class="page-header">
		<h1>Flapper News</h1>
		<div class="col-md-12 posts" ng-repeat="post in posts | orderBy : '-upvotes'">
			<div ng-show="post.link"><a target="_blank" href="{{post.link}}">{{post.title}}</a></div>
			<div ng-hide="post.link">{{post.title}}</div>
			<span ng-show="post.author">
			  posted by <a>{{post.author}}</a> |
			</span>
			<span><span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvote(post)"></span>upvote: {{post.upvotes}}</span>
			<span>
			  <a href="#/posts/{{post._id}}">Comments</a>
			</span>
		</div>
		<div class="col-md-12">
			<form ng-show="isLoggedIn()" style="margin-top:30px;" ng-submit="addPost()">
				<input type="text" placeholder="Title" ng-model="post.title">
				<br>
				<input type="text" placeholder="Link" ng-model="post.link">
				<br>
				<button class="btn btn-info" type="submit">Post</button>
			</form>
			<div ng-hide="isLoggedIn()">
			  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
			</div>
		</div>
		
</div>